.hero-section {
    height: 100vh; /* на весь экран */
    overflow: hidden;
}

.bg-image {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* затемнение сверху и снизу */
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.9) 0%,   /* сверху полупрозрачный чёрный */
            rgba(0, 0, 0, 0.2) 40%,  /* середина почти без затемнения */
            rgba(0, 0, 0, 0.9) 100%  /* внизу тёмный */
    );
    z-index: 2;
}

.content {
    z-index: 3;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black; /* <-- меняем белый на чёрный */
    color: white; /* чтобы текст по умолчанию был виден */
}



